mark,em 
{
	font-style: normal;
	color:#000;
}
p
{
	text-align: left;
	color:black;
	opacity: 1
}
.imageflottante
{
	float: left;
}
.dessous
{
	clear: both;
	font-weight:bold;
	font-size:large;
}
body
{
	
	background : white
}
h1
{
	border: inset 3px black;
	border-radius:10px;
}
.texte
{
	border: 4px black groove;
	border-radius:10px;
	font-weight:bold;
}
a /* Liens par défaut (non survolés) */
{
   text-decoration: none;
   color: black;
   font-style: italic;
}

a:hover /* Apparence au survol des liens */
{
   text-decoration: ;
   color: red;
}
p:hover ,h1:hover, h2:hover, h3:hover, h4:hover, h5:hover, h6:hover
{
	border-left:1px solid black;
}
a:active
{
	color:red;
}
td,th
{
	border:1px solid black;
}
table
{
	border-collapse: collapse;
}
caption
{
	caption-side:bottom;
}